.card-container {
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.5s;
    animation: ease-in;
    background-color: rgba(0, 0, 0, 0.692);
    margin: 0 auto;
}

.card-container {
  animation: pop-up 0.5s cubic-bezier(0.36, 0.07, 0.19, 1.26) both;
}

@keyframes pop-up {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#category-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container:hover {
    transform: scale(1, 1);
    box-shadow: 0px 0px 15px 0px;
}

.card-content {
    margin: 1rem;
    margin-top: 0.5rem;
}

h3, p {
    margin: 0;
    padding: 0;
}

.card-title {
    margin-bottom: 0.5rem;
    color: rgb(123, 90, 13);
    font-weight: 700;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-category-name {
    margin-bottom: 0.5rem;
    color: rgb(188, 190, 105);
    font-weight: 400;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn button {
    padding: 0.5rem;
    background-color: rgb(70, 51, 7);
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    border-radius: 3px;
}

.card-button {
    text-transform: uppercase;
    color: rgb(217, 224, 12);
    text-decoration: none;
    font-weight: bold;
}

.btn button:hover {
    color: rgb(217, 224, 12);
}

.img-container {
    height: 300px;
    position: relative;
}

#card-image {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Responsive layout */

/* Float columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 10px 10px;
    box-sizing: border-box;
    background-color: rgb(121,85,72);
}

/* Remove extra left and right margins due to padding */
.row {
    margin: 0 -5px;
    box-sizing: border-box;
}

/* Clear floats after columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 1300px) {
    .column {
        width: 33.33%;
    }
}

@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}