.categoryContainer{
    color: rgb(217, 224, 12) ;
    padding: 70px;
    display: flex;
    position: relative;
    background-color:rgba(56, 105, 29, 0.723);

    

}


.categoryImage{
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
    filter: blur(1px) grayscale(50%);
    
    position: absolute;
    inset: 0;
    z-index: 0;
}

.categoryContainer:hover .categoryImage{
    filter: blur(0px) grayscale(0%);

}


.categoryCard {

    overflow: hidden;
    transform: scale(1, 1);
    
    box-shadow: 0px 0px 15px -5px;
    animation:ease-in-out;
    transition: 0.8s;
    

}



.categoryCard :hover {
    color: white;
    transform: scale(1, 1);
    box-shadow: 0px 0px 15px 0px;
    animation:ease-in-out;
    transition: 0.8s;

}

.categoryText{
    font-size: 20px;
}