.drinkContainer{
    color: white;
    position: relative;
}


.imageContainer{
    margin-right: 60%;
    margin-top: 3%;
    height: min-content;
    position: absolute;
    
}

#comment{
    
}

.image{
    width: 70%;
}

.textContainer{
    position:  absolute;
    left: 35%;
    top: 300%;
}

#commentsContainer{
    color:white;
    top:500px;
    position: relative;

}

.commentsContainer{
    position: absolute;
}