.drink-page-container{
color: white;
}

.drink-image-container{
  position: relative;
}


.drink-image{
  left: 50px;
  top: 20px;
}

.drink-details-container{

}

.ingredient-list{
}

.ingredient{
}

.drink-likes-dislikes-container{

}

.drink-comments-container{
    left: 30px;
}

.new-comment-container{

}

.new-comment{
}

span{
    text-align: center;
}