.fullscreen{
    
    
    
    background-color: rgba(0, 0, 0, 0.9);
}


.title {
    font-size: x-large;
    font-weight:450;
    
    color: white;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}