body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

#button {
  position: relative;
  left: 410px;
  top: 50px;
}

#add-comment-text {
  position: relative;
  color: rgba(33, 33, 33, 0.452);
}

#close-button {
  bottom: 85%;
  right: 5%;
}

#comment {
  line-height: 25px;
}

#p {
  color: blueviolet;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  cursor: pointer;
  position: absolute;
  bottom: 45px;
  right: 0px;
  padding: 5px 7px;
}

.close-modal {
    cursor: pointer;
    position: absolute;
    bottom: 45px;
    right: 0px;
    padding: 5px 7px;
}


#commentContainer{
  position: relative;
   width: 500px;
   left: 750px;
}

#commentAuthor{
  width: 300px;
    border: 1px black;
    position: absolute;
    
  }
  
  #commentsMessage{
    border: 1px solid green;
    right: 40px;
}