#name{
color: rgb(255, 255, 255) !important
}

#email{
color: rgb(255, 255, 255) !important

}

#oldPass{
color: rgb(255, 255, 255) !important

}

#newPass{
color: rgb(255, 255, 255) !important

}

